package {{packageName}}.model;

import jakarta.persistence.*;

@Entity
@Table(name = "{{tableName}}")
public class {{EntityName}} {
    @Id
    @GeneratedValue(strategy = GenerationType.IDENTITY)
    private Long id;

    {{#fields}}
    @Column(name = "{{name}}")
    private {{type}} {{name}};
    {{/fields}}

    // Getters and Setters
}